---
const projects = ["drone_simulation", "4_legged_inversekinematics", "robust_character_controller", "personal_k3s_cluster", "portfolio_site", "microntrollers_ciruitry"];
---


<section class="projects">
	<!-- <h2>Projects</h2> -->


	<div class="projects-list">
		{projects.map(project =>
		(
			<div class="project">
				<a href={`/projects/${project}`}>
					<div class="project-name"> {project.split("").map((char, i) => <span data-letter={char} style={`--i: ${i}`}>{char}</span>)} </div>
				</a>
				<div class="project-description">
					<img src={`src/assets/Reference images/${project}.jpeg`} />
					<div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
						<br/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
					</div>
				</div>
			</div>
		))}
	</div>
</section>

<style>
	.projects
	{
		background: var(--bg);
		padding: 0px;
		padding-top: 5em;

		height: max-content;
		width: 100vw;
	}

	.projects .projects-list
	{
		display: flex;
		flex-direction: column;
	}

	.projects .projects-list .project
	{
		position: relative;

		height: max-content;
	}

	.projects .projects-list .project a
	{
		display: inline-block;
		font-family: var(--font-bebas);
		font-size: 5em;

		position: relative;
		z-index: 1;

		width: 50%;

		color: var(--txt);

		overflow: hidden;
		text-decoration: none;
		text-align: right;
	}

	.projects .projects-list .project a .project-name span
	{
		display: inline-block;

		transform: translateY(0%);

		transition: transform 0.4s cubic-bezier(.77,.12,.16,.95);
		transition-delay: calc(var(--i) * 0.01s); 
	}

	.projects .projects-list .project a:hover .project-name span
	{
		transform: translateY(-100%);
	}

	.projects .projects-list .project a .project-name span:after
	{

		content: attr(data-letter);
		position: absolute;

		left: 0;
  		top: 100%;

		transform: translateY(100%);

		transition: transform 0.4s cubic-bezier(.77,.12,.16,.95);
		transition-delay: calc(var(--i) * 0.01s); 
	}

	.projects .projects-list .project a:hover .project-name span:after
	{
		transform: translateY(0%);
	}

	.projects .projects-list .project .project-description
	{
		position: absolute;

		width: 50vw;

		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(50px);
		
		display: flex;
		flex-direction: row;

		opacity: 0;
		transition:
			opacity 0.4s cubic-bezier(.98,0,.06,.96),
			transform 0.4s cubic-bezier(.98,0,.06,.96);

		pointer-events: none;
		word-wrap: break-word;
	}

	.projects .projects-list .project .project-description img
	{
		width: 15vw;
		height: auto;
	}

	.projects .projects-list .project:hover .project-description
	{
		opacity: 1;
  		transform: translateY(-50%) translateX(0);
		pointer-events: auto;
	}
</style>